name: CI & CHECK

on:
  push:
    branches:
      - main # Stable
      - next # Next/Beta
      - dev # Canary

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24]
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo run lint test build
      - uses: actions/cache@v3
        with:
          path: |
            .turbo
            node_modules/.cache/turbo
          key: turbo-${{ github.sha }}
          restore-keys: turbo-
