name: Release

on:
  push:
    branches:
      - main # Stable
      - next # Next/Beta
      - dev # Canary

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write
  pull-requests: write
  issues: write

jobs:
  release:
    name: Release
    if: github.repository_owner == 'rineex'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Tools
        uses: ./.github/setup
      - name: Run Tests
        run: pnpm run test:ci
      - name: Run Changesets (version or publish)
        id: changesets
        uses: changesets/action@v1.5.3
        with:
          version: pnpm run changeset:version
          publish: pnpm run changeset:publish
          commit: 'ci: Version Packages'
          title: 'ci: Version Packages'
        env:
          GITHUB_TOKEN: ${{ secrets.CHANGESET_TOKEN }}
